<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Review Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

  <div class="table-users" style="overflow-x:auto;">
   <div class="header">{{response_data[0]['Channel_name']}}</div>

   <table id='chnl_dta' cellspacing="0" >
      <tr>
         <th>Video Upload Date</th>
        <th>Video link</th>
         <th>Video Title</th>
         <th>Video Description</th>
      </tr>
         {% for data in response_data %}
      <tr>
          <td style="text-align:left;">{{data['Video_upload_date']}} </td>
          <td style="text-align:left;"><a href ="{{data['commment_page']}}"><img src="{{data['Thumb_nail']}}"></a></td>
         <td style="text-align:left;"> {{data['Video_title']}}</td>
         <td style="text-align:left;">{{data['Video_disc']}}</td>
      </tr>
       {% endfor %}
   </table>
</div>



</body>

</html>
