<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Review Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
<h2 align="Center">Select Channel</h2>

<!--<p>Use the size attribute to specify the number of visible values.</p>-->

<form action="/get_videos" method="POST">
  <label for="channel_id">Choose your Channel:</label>
  <select id="channel_id" name="channel_id" size="3">
    <option value="UCNU_lfiiWBdtULKOw6X0Dig">Krish Naik</option>
    <option value="UC59K-uG2A5ogwIrHw4bmlEg">Telusko</option>
    <option value="UCXgGY0wkgOzynnHvSEVmE3A">Hitesh Chaudhary</option>
    <option value="UCkGS_3D0HEzfflFnG0bD24A">MysirG</option>
  </select><br><br>
  <input type="submit">
</form>

</body>
</html>